<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--properties节点通常用于引入在外部定义一些键值对配置文件，以方便在后面统一调用，这样修改的时候，只修改就可以了。
  　　它的引入方式有3种：
  　　resource: 通过相对路径来确定文件的位置。
  　　url：　　 通过绝对路径来确定文件位置。
  　　embedded: 通过嵌入资源方式来确定文件位置。-->
  <!--<properties resource="../../../Files/properties.config"/>-->
  <!--Settings节点里，可以配置以下5个信息：
  useStatementNamespaces：默认flase,是否使用全局完整命名空间。
  cacheModelsEnabled :默认true,是否启用缓存。
  validateSqlMap:默认false,使用启用SqlMapConfig.xsd来验证映射XML文件。
  useReflectionOptimizer:默认true,是否使用反射机制访问C#中对象的属性。
  useEmbedStatementParams 是否使用嵌入的方式声明可变参数-->
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
  </settings>

  <providers resource="../../Resourse/providers.config" />
  <database>
    <!--<provider name="OleDb1.1"/>-->
    <!--<dataSource name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=iBatisSample.mdb"/>-->
    <provider name="OleDb2.0" />
    <dataSource name="SQLServer"
                connectionString="Provider=OraOLEDB.Oracle.1;User ID=MGIS;Password=MGIS;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 172.17.10.216)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = MGISDB)))" />
  </database>

  <!--SqlMaps节点，用于配置映射信息。通常在映射信息写在外部，在这个节点引入。-->
  <sqlMaps>
    <sqlMap resource="../../Resourse/Maps/GTZY.xml" />
    <!-- <sqlMap resource="./Maps/Hoge.xml"/>
        <sqlMap resource="./Maps/Moge.xml"/>
        -->
  </sqlMaps>
</sqlMapConfig>