<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <properties>
      <property key="selectKey" value="select @@IDENTITY as value" />
    </properties>
    <providers resource="./providers.config"/>
    <database>
      <provider name="OleDb2.0" />
      <dataSource name="DataSource" connectionString="Data Source=(local);Initial Catalog=Northwind;Integrated Security=True"/>
    </database>

    <sqlMaps>
      <sqlMap embedded="SqlMap.xml,FeihonSamples"/>
    </sqlMaps>

  </sqlMapConfig>
</configuration>